*{
	margin: 0px;
	padding: 0px;
}

body{
	/* background-color: #f3f0f5; */
	font-family: sans-serif;
	overflow-x: hidden;
	width: 100%;
}

header{
	background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(img/indian1.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
}

.top-head{
	margin-top: 20%;
	color: white;
	font-weight: bold;
	line-height: 1.2em;
	font-size: 35px;
	margin-bottom: 25px;
}

.butn-left{
	border: 1px solid #e67e22;
	border-radius: 10px;
	padding: 12px 40px;
	color: #e67e22;
	text-decoration: none;
	font-size: 16px;
}

.butn-left:hover{
	background-color: #e67e22;
	color: white;
	transition: all 0.5s ease-in;
}

@media(max-width: 465px){
	.top-head{
		text-align: center;
	}

	.butn-left{
		margin-left: 65px;
	}
}

.offers{
	margin-top: 40px;
}

.features h2{
	margin-top: 60px;
	margin-bottom: 20px;
}

h2:after{
	width: 90px;
	background-color: #e67e22;
	height: 3px;
	display: block;
	margin: 0 auto;
	margin-top: 25px;
	content: "";
}

.features-para{
	width: 70%;
	margin-left: 15%;
	margin-bottom: 20px;
	font-size: 15.5px;

}

.features-sections{
	text-align: justify;
}

.features i{
	font-size: 35px;
	color: #e67e22;
	margin-left: 45%;
}

.showcase{
	margin-top: 40px;
}

.showcase img{
	margin-top: 2px;
	transform: scale(.99);
	transition: all 0.5s;
	border-radius: 5px;
}

.showcase img:hover{
	transform: scale(1.01);
}
.cities{
	margin-top: 50px;
}

.cities img{
	width: 100%;
	height: 150px;
	margin-top: 30px;
}

.cities i{
	color: #e67e22;
	font-size: 18px;
}

.cities p{
	font-size: 15px;
}

.work{
	margin-top: 60px;
}

.work i{
	margin-top: 30px;
	font-size: 35px;
	color: #e67e22;
	margin-left: 50%;
}

.pic img{
	width: 60%;
	margin-left: 20%;
	margin-top: 35px;
}

.step{
	margin-top: 50px;
	margin-left: 50px;
}

.step div{
	border : 2px solid #e67e22;
	display: inline-block;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

.step img{
	width: 160px;
	height: 50px;
	margin-top: 20px;
	margin-right: 20px;
}

.testimonials{
	margin-top: 30px;
	padding: 30px 0;
	background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) , url(img/inidan2.jpg);
	color: white;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.testimonials cite img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 10px;
}

.testimonials p{
	text-align: justify;
}

.testimonials i{
	font-size: 40px;
	color: #e67e22;
	margin-left: 45%;
	margin-top: 35px;
	margin-bottom: 10px;
}

.form h2{
	margin-bottom: 30px;
	margin-top: 50px;
}

.form button{
	margin-left: 75px;
	height: 50px;
	width: 65%;
	border-radius: 40px;
}

.ending{
	background: #616161;
	margin-top: 10px;
	padding-top: 10px;
}

.end ul{
	float: left;
	list-style : none;
	float: left;
}

.end ul li{
	display: inline-block;
	margin-left: 30px;
	margin-top: 20px;
}

.end ul li a{
	text-decoration: none;
	color: black;
	font-size: 16px;
}

.end ul li a:hover{
	color: #e67e22;
	border-bottom: 2px solid #e67e22;
}

.social ul{
	float: right;
	list-style : none;
	margin-right : 50px;
}

.social ul li{
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
}

.social ul li a{
	text-decoration: none;
	color: black;
}

.social ul li a i{
	font-size: 23px;
}

.social ul li a:hover{
	color: #e67e22;
}

.ending footer{
	color: black;
	font-size: 14px;
	text-align: center;
	padding-bottom: 10px;
}
